<!DOCTYPE html>
<html>
    <head>
        <title>LPI Resources</title>
    </head>
    <body>
        <p style="font-size:350%;text-align:center"><b>LPI Resources</b></p>
        <br>
        <br>
        <h3  style="text-align:center">Video In Persian : <br>        <a href="https://www.youtube.com/playlist?list=PLAu43_uf7P19Cjto14TTqRWjEDeNg7X9f">Maktabkhooneh</a><h3>
        <br>
        <h3  style="text-align:center">Video In English : <br>        <a href="https://www.youtube.com/playlist?list=PLFOYXCPEqdNUU55Xvgst8wGTWnz_sd-cj">Jadi</a><h3>
        <br>
        <h3  style="text-align:center">E-Book : <br>        <a href="https://jadi.gitbooks.io/lpic1/content/">LPIC1 created by Jadi</a><h3>
        <br>
        <h3  style="text-align:center"><a href={% url 'index' %}>Back to Home</a><h3>
    </body>
</html>