<!DOCTYPE html>
<html>
    <head>
        <title>LPI Resources</title>
    </head>
    <body>
        <p style="font-size:350%;text-align:center"><b>Django Resources</b></p>
        <br>
        <br>
        <h3  style="text-align:center">Video In Persian : <br>        <a href="https://www.youtube.com/watch?v=saYMtgYej4o">Vision Academy</a><h3>
        <br>
        <h3  style="text-align:center">Video In English : <br>        <a href="https://www.youtube.com/watch?v=F5mRW0jo-U4">Free Code Camp</a><h3>
        <br>
        <h3  style="text-align:center">E-Book : <br>        <a href="https://www.w3schools.com/django/index.php">W3 Schools</a><h3>
        <br>
        <h3  style="text-align:center"><a href={% url 'index' %}>Back to Home</a><h3>
    </body>
</html>